# 02.Use pyspark in CASD

In this tutorial, we will learn:
- how to install spark and pyspark in CASD
- how to create a spark session
- read a csv file
- read a parquet file


## 1. Install spark and pyspark in CASD

As we explained before,
- `Apache Spark` is a distributed computation framework written mostly in Scala and Java, runs in a JVM(Java Virtual Machine)
- `PySpark` is a Python API for Apache Spark.
- PySpark talks to Spark engine via `Py4J`. Your Python code → Py4J(serialized and sent to JVM) → Spark core executes it → results sent back to python

> Spark framework installation is essential, without it, pyspark will never work.

### 1.1 Install spark framework

CASD provides an installation script(`InstallSpark.ps1`) to install the `latest spark framework` and underlying JDK available in CASD.
You can find this script in `Bureau->Raccourcis->Spark`.

Open a powershell terminal and run the below command

```powershell
# goto the target folder
cd C:\Users\Public\Desktop\Raccourcis\Spark

# run the installation script
.\InstallSpark.ps1
```

> If everything works well, this script will install spark in `C:\Users\<your-id>\AppData\Local\spark\spark-3.5.5-bin-hadoop3`. It will also install open-jdk, winutils, and set up your
> windows env vars.

Now let's check if your spark works or not. Open a new powershell terminal and run the below command

```text
# check the installed spark version
spark-shell --version

## it may take few seconds to show the output, be patient
# expected output
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.5.5
      /_/

Using Scala version 2.12.18, OpenJDK 64-Bit Server VM, 11.0.2
Branch HEAD
Compiled by user ubuntu on 2024-08-06T11:36:15Z
Revision bb7846dd487f259994fdc69e18e03382e3f64f42
Url https://github.com/apache/spark
Type --help for more information.
```

> If you can't see the spark output, contact `service@casd.eu`

### 1.2 Install pyspark

As we mentioned before, CASD recommends you to create a `python virtual environment` for each for your python project.

Suppose we will start a new project called `spark-sedona`, let's create a python virtual environment with this name


```powershell
# create a python virtual environment
conda create --name dspark-sedona python --offline

# activate the virtual environment
conda activate docs_in_paris

# check python version
python -V

# check installed packages
pip list

# install pyspark
pip install pyspark==3.5.5

# check the installed pyspark version
pip show pyspark

# expected output
Name: pyspark
Version: 3.5.5
Summary: Apache Spark Python API
......
```

> You can notice that we have installed a specific version of pyspark. Because the pyspark version must be the same as the spark framework version. As the output in `section 1.1` is **spark-3.5.5**. So we need to
> install pyspark-3.5.5

## 2. Create a spark session

A `Spark session` is the entry point to Apache Spark. A spark session allows us to interact with Spark’s core engine, no matter if you’re working in Python (PySpark), Scala, Java, or R.


It encapsulates:

- Cluster connection (or local JVM if local mode)
- Configuration settings (memory, partitions, serializer, etc.)
- Access to Spark’s APIs: Spark SQL API, DataFrame and Dataset API, RDD API (via .sparkContext), Streaming and machine learning APIs

To create a spark session, you need to
- import the required module
- configure the spark session settings
- create the spark session instance

### 2.1 A minimum spark session creation

Below shows a minimum spark session creation.

In [1]:
from pyspark.sql import SparkSession, DataFrame

In [2]:
import os
os.environ["PYSPARK_PYTHON"]="python"
os.environ["PYSPARK_DRIVER_PYTHON"]="python"

In [3]:
# create a spark session in local mode
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Use_pyspark_in_CASD") \
    .getOrCreate()

In [3]:
# you can get and set configuration of your spark session any moments
# get all conf
spark.sparkContext.getConf().getAll()

[('spark.driver.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.app.id', 'local-1755784652081'),
 ('spark.app.name', 'Use_pyspark_in_CASD'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.host', 'LT-5CG4181HBL.casd.me'),
 ('spark.driver.port', '51159'),
 ('spark.app.startTime', '1755784650515'),
 ('spark.rdd.compress', 'True'),
 ('spark.executor.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.submitTime', '1755784650346'),
 ('spark.ui.showConsoleProgress', 'true')]

### 2.2 Check if the spark session works

Let's create a dataframe and do some basic operations.

In [4]:
from pyspark.sql.types import StructType, StringType, StructField, IntegerType

# create a dataframe by using List
dept = [("Alice", "Finance", 10),
        ("Bob", "Marketing", 20),
        ("Charlie", "Sales", 30),
        ("Toto", "IT", 40)
        ]

# give an explicit schema
deptSchema = StructType([
    StructField('name', StringType(), True),
    StructField('dept_name', StringType(), True),
    StructField('age', IntegerType(), True)
])

# create dataframe
deptDF1 = spark.createDataFrame(data=dept, schema=deptSchema)
deptDF1.printSchema()
deptDF1.show(truncate=False)

root
 |-- name: string (nullable = true)
 |-- dept_name: string (nullable = true)
 |-- age: integer (nullable = true)

+-------+---------+---+
|name   |dept_name|age|
+-------+---------+---+
|Alice  |Finance  |10 |
|Bob    |Marketing|20 |
|Charlie|Sales    |30 |
|Toto   |IT       |40 |
+-------+---------+---+

In [5]:
# show the basic stats
deptDF1.describe().show()

+-------+-----+---------+------------------+
|summary| name|dept_name|               age|
+-------+-----+---------+------------------+
|  count|    4|        4|                 4|
|   mean| NULL|     NULL|              25.0|
| stddev| NULL|     NULL|12.909944487358056|
|    min|Alice|  Finance|                10|
|    max| Toto|    Sales|                40|
+-------+-----+---------+------------------+

## 2.2 Optimize the spark session config (Optional)

When the data volume which you treat is much bigger than your memory, you may need to optimize the spark session config. Here we only give
you an example, it may be not suitable for your workflow, because the config depends on your `server configuration` and `data volume`.

In general, spark tries to store the data source and intermediate data(shuffle results) in memory. If the memory is not big enough to store the
data, we can ask spark to spill the data on hard drive.

In the below example, we configure:
- how many memory the spark can use
- how many memory spark will use for storage and calculation
- ETC.

> You don't need to understand all, just keep in mind we can optimize spark for large data volume calculation

In [6]:
spark = (
    SparkSession.builder
    .appName("LocalMode_memo_config")
    .master("local[*]")
    # JVM memory allocation
    .config("spark.driver.memory", "16g")  # Half of RAM for driver
    .config("spark.driver.maxResultSize", "4g")  # Avoid OOM on collect()
    # Shuffle & partition tuning
    .config("spark.sql.shuffle.partitions", "12")  # Lower than default 200
    .config("spark.sql.files.maxPartitionBytes", "128m")  # Avoid large partitions in memory
    .config("spark.reducer.maxSizeInFlight", "48m")  # Limit shuffle buffer
    # Unified memory management
    .config("spark.memory.fraction", "0.7")  # Reduce pressure on execution memory
    .config("spark.memory.storageFraction", "0.3")  # Smaller cache area
    .config("spark.memory.offHeap.enabled", "true")
    .config("spark.memory.offHeap.size", "1g")
    # Spill to disk early instead of crashing
    .config("spark.shuffle.spill", "true")
    .config("spark.shuffle.spill.compress", "true")
    .config("spark.shuffle.compress", "true")
    # optimize jvm GC
    .config("spark.driver.extraJavaOptions",
            "-XX:+UseG1GC -XX:InitiatingHeapOccupancyPercent=35 -XX:+HeapDumpOnOutOfMemoryError")
    # Use Kryo serializer
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer")
    # Optional: buffer size for serialization
    .config("spark.kryoserializer.buffer", "64m")
    .config("spark.kryoserializer.buffer.max", "512m")
    .getOrCreate()
)

> In this tutorial, we only focus on spark on local mode. CASD also proposes spark on `yarn` and `k8s` mode. For more information, please contact `service@casd.eu`.

## 3. Use spark to treat data

In this section, we will show the basics of spark
- read data (e.g. csv, parquet, etc.)
- basic data validation
- basic data cleaning
- basic data transformation
- basic statistics
- write data(e.g. csv, parquet, etc.)

The data which we will use in this repo is from [kaggle](https://www.kaggle.com/datasets/benoitfavier/immobilier-france). It contains several interesting datasets. In this repo,
we use two of them:

- transaction.npz: It contains all French real state transactions between 2012 and 2024
- transactions_sample.csv: A subset of all transactions

### 3.1 Read csv file

CSV files are semi-structure data(the column types are not provided), spark offers the `inferSchema` functionality. It works good enough for most of the case, but you need to
always check the inferred column types.

> The dataset is all france immo transaction records.

In [7]:
from pathlib import Path

project_root_dir = Path.cwd().parent
data_dir = project_root_dir / "data"
print(data_dir)

C:\Users\PLIU\Documents\git\Seminar_PySpark_Sedona_GeoParquet\data

In [8]:
csv_immo_file_path = data_dir / "transactions_sample.csv"

# the option header
immo_csv_df = spark.read.csv(csv_immo_file_path.as_posix(), header=True, inferSchema=True)

In [9]:
immo_csv_df.show(5)

+--------------+----------------+--------+-----------+--------+--------------------+-----------+--------------------+-------------+-----+--------+-----------------+--------------------+----------------+----------------+-------------------+--------------------------+--------------------------+---------------------+-----------------------+
|id_transaction|date_transaction|    prix|departement|id_ville|               ville|code_postal|             adresse|type_batiment| vefa|n_pieces|surface_habitable|id_parcelle_cadastre|        latitude|       longitude|surface_dependances|surface_locaux_industriels|surface_terrains_agricoles|surface_terrains_sols|surface_terrains_nature|
+--------------+----------------+--------+-----------+--------+--------------------+-----------+--------------------+-------------+-----+--------+-----------------+--------------------+----------------+----------------+-------------------+--------------------------+--------------------------+---------------------+-----------------------+
|      10160888|      2015-07-22|222500.0|         63|     247|               MUROL|      63790|         5148  COMBE|       Maison|False|       4|              123|      63247000ZO0165|45.5729726213494|2.94997597336221|                 {}|                        {}|                        {}|               {2387}|                     {}|
|      10319766|      2024-06-18|218640.0|         73|      15|          LES ALLUES|      73550|45 RUE DU GRAND C...|  Appartement|False|       1|               23|      73015000AB0347|45.3987396582855|6.56760164004644|                {0}|                        {}|                        {}|                   {}|                     {}|
|      11545562|      2020-07-23|254950.0|         77|     316|MORET-LOING-ET-OR...|      77250|1 RUE DE LA CROIX...|       Maison|False|       6|              124|      773161700B0305|48.3337616035885|2.78083033196279|                 {}|                        {}|                        {}|                {815}|                     {}|
|      13891173|      2022-10-03|380000.0|         94|      81|     VITRY-SUR-SEINE|      94400|11 VOIE VICTOR MASSE|       Maison|False|       3|               93|      94081000AK0189| 48.796988276575|2.37555811653132|                 {}|                        {}|                        {}|                {208}|                     {}|
|      11794772|      2018-07-12|258000.0|         77|     284|               MEAUX|      77100|14 RUE PIERRE BON...|       Maison|False|       5|               96|      77284000AW0090|48.9488159934431|2.89173438180231|                 {}|                        {}|                        {}|                   {}|                     {}|
+--------------+----------------+--------+-----------+--------+--------------------+-----------+--------------------+-------------+-----+--------+-----------------+--------------------+----------------+----------------+-------------------+--------------------------+--------------------------+---------------------+-----------------------+
only showing top 5 rows

In [10]:
immo_csv_df.printSchema()

root
 |-- id_transaction: integer (nullable = true)
 |-- date_transaction: date (nullable = true)
 |-- prix: double (nullable = true)
 |-- departement: integer (nullable = true)
 |-- id_ville: integer (nullable = true)
 |-- ville: string (nullable = true)
 |-- code_postal: integer (nullable = true)
 |-- adresse: string (nullable = true)
 |-- type_batiment: string (nullable = true)
 |-- vefa: string (nullable = true)
 |-- n_pieces: integer (nullable = true)
 |-- surface_habitable: integer (nullable = true)
 |-- id_parcelle_cadastre: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- surface_dependances: string (nullable = true)
 |-- surface_locaux_industriels: string (nullable = true)
 |-- surface_terrains_agricoles: string (nullable = true)
 |-- surface_terrains_sols: string (nullable = true)
 |-- surface_terrains_nature: string (nullable = true)

In [11]:
immo_csv_df.describe().show()

+-------+-----------------+------------------+------------------+------------------+---------------+------------------+----------------+-------------+----+------------------+-----------------+--------------------+-----------------+------------------+-------------------+--------------------------+--------------------------+---------------------+-----------------------+
|summary|   id_transaction|              prix|       departement|          id_ville|          ville|       code_postal|         adresse|type_batiment|vefa|          n_pieces|surface_habitable|id_parcelle_cadastre|         latitude|         longitude|surface_dependances|surface_locaux_industriels|surface_terrains_agricoles|surface_terrains_sols|surface_terrains_nature|
+-------+-----------------+------------------+------------------+------------------+---------------+------------------+----------------+-------------+----+------------------+-----------------+--------------------+-----------------+------------------+-------------------+--------------------------+--------------------------+---------------------+-----------------------+
|  count|              103|               101|               100|               100|            103|               103|             100|          103| 103|               103|              103|                 103|              103|               103|                103|                       103|                       103|                  103|                    103|
|   mean|8264591.601941748| 206762.0984158416|             73.95|            212.02|           NULL|56035.087378640776|            NULL|         NULL|NULL| 3.436893203883495|77.20388349514563|            Infinity|45.96255234664196|1.1822048888130572|               NULL|                      NULL|                      NULL|                 NULL|                   NULL|
| stddev|4324346.649011455|176291.46750358352|131.73691068323876|164.69285646225512|           NULL| 27231.09458210134|            NULL|         NULL|NULL|1.5318187505580427|37.64393532992464|                NULL|5.567473063397396| 8.608229924347462|               NULL|                      NULL|                      NULL|                 NULL|                   NULL|
|    min|            83448|           -1000.0|                 1|                 2|              ?|              1150|       LA CONQUE|            ?|   -|                 0|               23|      01202000AC0425| 4.93971660021603|  -61.106291498063|          {0,0,0,0}|                      {30}|                     {110}|               {1000}|                     {}|
|    max|         14868445|         1271260.0|               973|               654|VITRY-SUR-SEINE|             97300|94 IMP DES LILAS|       Maison|True|                 8|              204|      97302000AH0505| 50.6375958115499|  6.85594432028914|                 {}|                        {}|                        {}|                   {}|                     {}|
+-------+-----------------+------------------+------------------+------------------+---------------+------------------+----------------+-------------+----+------------------+-----------------+--------------------+-----------------+------------------+-------------------+--------------------------+--------------------------+---------------------+-----------------------+

## 3.2 Read a parquet file

In [12]:
fr_immo_transaction_path = data_dir / "large_ds" / "fr_immo_transaction.parquet"
fr_immo_transactions_df = spark.read.parquet(fr_immo_transaction_path.as_posix())

In [13]:
required_col = ["id_transaction", "date_transaction", "prix", "departement", "ville", "code_postal", "adresse",
                "type_batiment", "n_pieces", "surface_habitable", "latitude", "longitude"]
clean_fr_immo_df = fr_immo_transactions_df.select(required_col)

In [14]:
# cache the dataframe for better performance
# clean_fr_immo_df.cache()
clean_fr_immo_df.show(5)

+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
|id_transaction|date_transaction|    prix|departement|               ville|code_postal|             adresse|type_batiment|n_pieces|surface_habitable|        latitude|       longitude|
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
|        141653|      2014-01-02|197000.0|         01|             TREVOUX|       1600|  6346 MTE DES LILAS|  Appartement|       4|               84|45.9423014034837|4.77069364742062|
|        141970|      2014-01-02|157500.0|         01|              VIRIAT|       1440|1369 RTE DE STRAS...|       Maison|       4|              103|46.2364072868351|5.26293493674271|
|        139240|      2014-01-02|112000.0|         01|SAINT-JEAN-SUR-VEYLE|       1290|5174  SAINT JEAN ...|       Maison|       3|               78|46.2600767509964| 4.9186124567344|
|        146016|      2014-01-02|173020.0|         01|             LAGNIEU|       1150|21 GR GRANDE RUE ...|       Maison|       4|               72|45.8990448750694|5.35421986570434|
|        145911|      2014-01-03| 88000.0|         01|             OYONNAX|       1100| 29B RUE DE LA FORGE|  Appartement|       3|              104|46.2584083170745| 5.6408027525738|
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
only showing top 5 rows

In [15]:
clean_fr_immo_df.describe().show()

+-------+-----------------+------------------+-----------------+---------+-----------------+--------------------+-------------+------------------+-----------------+-----------------+-----------------+
|summary|   id_transaction|              prix|      departement|    ville|      code_postal|             adresse|type_batiment|          n_pieces|surface_habitable|         latitude|        longitude|
+-------+-----------------+------------------+-----------------+---------+-----------------+--------------------+-------------+------------------+-----------------+-----------------+-----------------+
|  count|          9141573|           9141573|          9141573|  9141573|          9141573|             9141573|      9141573|           9141573|          9141573|          9141573|          9141573|
|   mean|7739952.499090474|225329.25414140944|61.77079502619517|     NULL|52936.02979454411|   611.3308270676691|         NULL| 3.524251132709874|82.18102442544625| 46.2699373612654|2.385461679804112|
| stddev|4446977.865590328|1663532.0597511497|97.48334644158872|     NULL|27696.00479747301|   1573.440212351751|         NULL|1.5448404739813437|43.38602854939865|6.012010692496585|6.443977622752915|
|    min|                1|               0.0|               01|     AAST|             1000|                    |  Appartement|                 0|                0|-21.3862188488928|-63.1520742420684|
|    max|         15058573|             3.3E9|              974|ZUYTPEENE|            97490|9Z RUE GABRIEL VI...|       Maison|               112|             7626|  51.082059485914| 55.8292394321594|
+-------+-----------------+------------------+-----------------+---------+-----------------+--------------------+-------------+------------------+-----------------+-----------------+-----------------+

In [16]:
from pyspark.sql.functions import col
# get the most expensive house
print(clean_fr_immo_df.filter(col("prix")>1E9).show())

+--------------+----------------+-------+-----------+------------+-----------+--------------------+-------------+--------+-----------------+----------------+-----------------+
|id_transaction|date_transaction|   prix|departement|       ville|code_postal|             adresse|type_batiment|n_pieces|surface_habitable|        latitude|        longitude|
+--------------+----------------+-------+-----------+------------+-----------+--------------------+-------------+--------+-----------------+----------------+-----------------+
|       3454911|      2019-02-21| 1.75E9|         29|PLOUGOURVEST|      29400|    7015A  KERVICHEN|       Maison|       4|               97|48.5687995867852|-4.06245022089523|
|       3450591|      2019-04-19|2.086E9|         29|  PLOUZEVEDE|      29440|  33  CORNIC AN HENT|       Maison|       5|              132|48.5995097745626|-4.11136334325347|
|       8848963|      2014-06-26| 1.72E9|         60|     CHAMBLY|      60230|80 RUE DES MARCHANDS|  Appartement|       2|               88|49.1654699361029| 2.24033276834713|
|       8851035|      2014-07-01|  3.3E9|         60|     CHAMBLY|      60230|69 RUE DE L'ANCIE...|       Maison|       5|              128|49.1621804026875| 2.25256736018128|
+--------------+----------------+-------+-----------+------------+-----------+--------------------+-------------+--------+-----------------+----------------+-----------------+

None

In [17]:
# get the biggest house
print(clean_fr_immo_df.filter(col("n_pieces")>100).show())

+--------------+----------------+--------+-----------+-----------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
|id_transaction|date_transaction|    prix|departement|      ville|code_postal|             adresse|type_batiment|n_pieces|surface_habitable|        latitude|       longitude|
+--------------+----------------+--------+-----------+-----------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
|      14017595|      2020-12-17|119560.0|         91|    DRAVEIL|      91210|15 ALL DES PASTOU...|       Maison|     109|               61|48.6860409415854|2.43481957002938|
|      14413157|      2017-03-31|275000.0|         93|MONTFERMEIL|      93370|    42 AV DES CHENES|       Maison|     112|               93|48.8883232214767|2.56155159324066|
+--------------+----------------+--------+-----------+-----------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+

None

> You can notice the data quality is not very good, even thought the data is provided by the French government.

### 3.3 Data validation

To make sure your statistics make sense, always validate the raw data before you start. In general, we have two categories:
- general data validation rules: detect duplication, null value in non-null column, Etc.
- domain specific validation rules: column values in acceptable range or list, Etc.

In [24]:
from pyspark.sql.functions import length
def find_bad_immo_rows(df:DataFrame)->DataFrame:
    """
    This function takes an immo dataframe and returns a dataframe where rows contains anomaly values
    The price is negative, the house surface is negative, and the postal code is not 5 digits number
    """
    return df.filter((col("prix") <= 0) | (col("surface_habitable") <= 0) | (length(col("code_postal")) != 5))

In [25]:
bad_rows = find_bad_immo_rows(immo_csv_df)
bad_rows.show()

+--------------+----------------+--------+-----------+--------+--------------------+-----------+--------------------+-------------+-----+--------+-----------------+--------------------+----------------+----------------+-------------------+--------------------------+--------------------------+---------------------+-----------------------+
|id_transaction|date_transaction|    prix|departement|id_ville|               ville|code_postal|             adresse|type_batiment| vefa|n_pieces|surface_habitable|id_parcelle_cadastre|        latitude|       longitude|surface_dependances|surface_locaux_industriels|surface_terrains_agricoles|surface_terrains_sols|surface_terrains_nature|
+--------------+----------------+--------+-----------+--------+--------------------+-----------+--------------------+-------------+-----+--------+-----------------+--------------------+----------------+----------------+-------------------+--------------------------+--------------------------+---------------------+-----------------------+
|        395925|      2020-08-27| 66500.0|          2|      64|              BELLEU|       2200|10 RUE DE STADTHAGEN|       Maison|False|       3|               62|      02064000AB0555|49.3661606906803| 3.3382068630547|                 {}|                        {}|                        {}|                {198}|                     {}|
|         83448|      2019-12-12|167000.0|          1|     368|SAINT-JULIEN-SUR-...|       1540|1753 RTE DES CONT...|       Maison|False|       3|               48|      01368000ZA0058|46.1957149258676|4.93493183748207|                 {}|                        {}|             {16479,26937}|               {1710}|                     {}|
|        754907|      2014-02-28|241885.0|          3|     310|               VICHY|       3200|     18 AV DE FRANCE|       Maison|False|       7|              174|      03310000AR0138|46.1185058482893| 3.4299317556618|                 {}|                        {}|                        {}|                {153}|                     {}|
|         96894|      2018-01-22|168000.0|          1|     202|             LAGNIEU|       1150|40 RUE DU VIEUX C...|       Maison|False|       4|              101|      01202000AC0425|45.9039290129919|5.34656702688418|                 {}|                        {}|                        {}|                 {70}|                     {}|
|       4903918|      2016-07-08| -1000.0|       NULL|    NULL|                   ?|      31500|                NULL|            ?|    -|       1|               38|      31555806AD0499|43.6083995991505|1.45671987390696|                 {}|                        {}|                        {}|                   {}|                     {}|
+--------------+----------------+--------+-----------+--------+--------------------+-----------+--------------------+-------------+-----+--------+-----------------+--------------------+----------------+----------------+-------------------+--------------------------+--------------------------+---------------------+-----------------------+

We have found the error which we introduced, now let's check the real data

In [26]:
bad_rows = find_bad_immo_rows(clean_fr_immo_df)
print(f"Total bad rows count: {bad_rows.count()}")
bad_rows.show()

Total bad rows count: 604235
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
|id_transaction|date_transaction|    prix|departement|               ville|code_postal|             adresse|type_batiment|n_pieces|surface_habitable|        latitude|       longitude|
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
|        141653|      2014-01-02|197000.0|         01|             TREVOUX|       1600|  6346 MTE DES LILAS|  Appartement|       4|               84|45.9423014034837|4.77069364742062|
|        141970|      2014-01-02|157500.0|         01|              VIRIAT|       1440|1369 RTE DE STRAS...|       Maison|       4|              103|46.2364072868351|5.26293493674271|
|        139240|      2014-01-02|112000.0|         01|SAINT-JEAN-SUR-VEYLE|       1290|5174  SAINT JEAN ...|       Maison|       3|               78|46.2600767509964| 4.9186124567344|
|        146016|      2014-01-02|173020.0|         01|             LAGNIEU|       1150|21 GR GRANDE RUE ...|       Maison|       4|               72|45.8990448750694|5.35421986570434|
|        145911|      2014-01-03| 88000.0|         01|             OYONNAX|       1100| 29B RUE DE LA FORGE|  Appartement|       3|              104|46.2584083170745| 5.6408027525738|
|        145024|      2014-01-03|202500.0|         01|ST ETIENNE-SUR-RE...|       1190|    5112  AU MOIROUX|       Maison|       6|              118|46.3900603987491|5.01770950682101|
|        148141|      2014-01-03| 49023.3|         01|               BALAN|       1360|7 LOT AFU DE BARB...|       Maison|       5|              105|45.8321367961343|5.09791701908164|
|        145399|      2014-01-03| 68000.0|         01|     BOURG-EN-BRESSE|       1000|10Z RUE EDGAR  QU...|  Appartement|       2|               44|  46.20385904116|5.22569295332627|
|        143192|      2014-01-03|156750.0|         01|     BOURG-EN-BRESSE|       1000| 15 RUE DE MONTHOLON|  Appartement|       3|               83|46.2000838066075|5.21083723376748|
|        146426|      2014-01-03|163640.0|         01|SAINT-MAURICE-DE-...|       1700|      40 AV DES ILES|  Appartement|       3|               84|45.8232892882996|4.97719901458052|
|        141750|      2014-01-03|203000.0|         01|             DAGNEUX|       1120|733C RTE DE STE C...|       Maison|       5|               90|45.8599182503004|5.05532938199608|
|        148109|      2014-01-03|126000.0|         01|             OYONNAX|       1100| 29B RUE DE LA FORGE|  Appartement|       4|              111|46.2584083170745| 5.6408027525738|
|        146587|      2014-01-03|145000.0|         01|            FARAMANS|       1800|100 CHE DE LA COT...|       Maison|       4|               88|45.8984143194015| 5.1238429973443|
|        142324|      2014-01-06|180230.0|         01|SAINT-GENIS-SUR-M...|       1380|   5013  LA TERRASSE|       Maison|       5|              200|46.3005918214866|5.01292534875678|
|        147770|      2014-01-06|107000.0|         01|     BOURG-EN-BRESSE|       1000|18 RUE GEORGES GU...|  Appartement|       4|               81|46.1940166503064| 5.2085969704023|
|        140120|      2014-01-06|177500.0|         01|BELLEGARDE-SUR-VA...|       1200|    23 RUE DE MUSSEL|       Maison|       6|              120|46.1012359876184|5.81606709511131|
|        142088|      2014-01-06|165000.0|         01|BELLEGARDE-SUR-VA...|       1200|        10 RUE VIALA|  Appartement|       4|               87|46.1065010130505|5.82630764368207|
|        146625|      2014-01-06|152000.0|         01|           BELLIGNAT|       1100|16 RUE GUSTAVE FL...|       Maison|       5|               92|46.2476079780747|5.63367658432816|
|        146683|      2014-01-06|415000.0|         01|                 GEX|       1170|    111 RUE DE PARIS|  Appartement|       5|              117|46.3369095806716|6.05697509698794|
|        144187|      2014-01-06|430500.0|         01|           MONTHIEUX|       1390|   300 GR GRANDE RUE|       Maison|       5|              175| 45.954218351011|4.94060008338832|
+--------------+----------------+--------+-----------+--------------------+-----------+--------------------+-------------+--------+-----------------+----------------+----------------+
only showing top 20 rows

### 3.4 Clean dataframe

After we have detected the bad rows, we need to clean them. Even though the best way it to correct the bad values, but in general, we don't have the
 knowledge to correct them. So we just drop the bad rows:
- drop duplicated rows
- drop bad value rows
- handle mission values(e.g. null, empty strings, NaN, etc.)

In [27]:
# drop duplicates
# if no column name is specified, two rows are consider as duplicated, if all column values are equal
immo_csv_dedup_df = immo_csv_df.drop_duplicates()

In [28]:
print(f"Total rows count: {immo_csv_df.count()}")
print(f"Rows count after dedup: {immo_csv_dedup_df.count()}")

Total rows count: 103
Rows count after dedup: 102

In [29]:
# we can also use a unique value column to accelerate the process
# if two rows have the same value at id_transaction column, then two columns are considered duplicated.
df_col_dedup = immo_csv_df.drop_duplicates(subset=["id_transaction"])
print(f"Total rows count: {immo_csv_df.count()}")
print(f"Rows count after dedup: {df_col_dedup.count()}")

Total rows count: 103
Rows count after dedup: 102

In [30]:
# get bad row ids
bad_row_ids = find_bad_immo_rows(immo_csv_df).select("id_transaction").rdd.flatMap(lambda x: x).collect()
print(bad_row_ids)

[395925, 83448, 754907, 96894, 4903918]

In [31]:
# drop all bad rows
clean_immo_csv_df = immo_csv_dedup_df.filter(~ col("id_transaction").isin(bad_row_ids))
print(f"Total rows count: {immo_csv_df.count()}")
print(f"Rows count after drop bad rows: {clean_immo_csv_df.count()}")

Total rows count: 103
Rows count after drop bad rows: 97

### 3.5 Data transformation

We often need to transform the raw column into a specific format, so other users can use it directly. In this tutorial, we will do three basic transformation
- create a new column `prix_m2`.
- extract year and month from `date_transaction` column.
- Normalize boolean column `vefa`.

In [32]:
from pyspark.sql.functions import year, month, when

immo_csv_df_transformed = clean_immo_csv_df \
    .withColumn("prix_m2", col("prix") / col("surface_habitable")) \
    .withColumn("year", year(col("date_transaction"))) \
    .withColumn("month", month(col("date_transaction"))) \
    .withColumn("vefa", when(col("vefa") == "True", True).otherwise(False))

immo_csv_sub_df = immo_csv_df_transformed.select("id_transaction","date_transaction","prix","surface_habitable","prix_m2","year","month","vefa")
immo_csv_sub_df.show(5)

+--------------+----------------+--------+-----------------+------------------+----+-----+-----+
|id_transaction|date_transaction|    prix|surface_habitable|           prix_m2|year|month| vefa|
+--------------+----------------+--------+-----------------+------------------+----+-----+-----+
|       4572010|      2019-03-15|181000.0|               72|2513.8888888888887|2019|    3|false|
|       5984815|      2023-06-23|288000.0|               60|            4800.0|2023|    6|false|
|        964733|      2020-06-11|288600.0|              114|2531.5789473684213|2020|    6|false|
|       3390072|      2020-10-12|225000.0|              104|2163.4615384615386|2020|   10|false|
|      10621205|      2020-07-29|776000.0|               86| 9023.255813953489|2020|    7| true|
+--------------+----------------+--------+-----------------+------------------+----+-----+-----+
only showing top 5 rows

In [33]:
# transformed df schema
immo_csv_sub_df.printSchema()

root
 |-- id_transaction: integer (nullable = true)
 |-- date_transaction: date (nullable = true)
 |-- prix: double (nullable = true)
 |-- surface_habitable: integer (nullable = true)
 |-- prix_m2: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- vefa: boolean (nullable = false)

In [34]:
# in the raw data schema, column type of vefa is string, not boolean
immo_csv_df.select("vefa").printSchema()

root
 |-- vefa: string (nullable = true)

### 3.6 Basic statistics

Now our data is ready, let's calculate some basic statistics:
- Average price/m2 per department.
- Median price per year.
- Number of transactions per city.

In [35]:
from pyspark.sql.functions import avg, count, expr

# Average price per department
avg_dep = immo_csv_df_transformed.groupBy("departement").agg(avg("prix_m2").alias("avg_prix"))
avg_dep.orderBy(col("avg_prix").desc()).show()

+-----------+------------------+
|departement|          avg_prix|
+-----------+------------------+
|         75| 9867.567567567568|
|         92| 6145.588595739776|
|         94| 5869.356906534325|
|         74| 5675.516795865633|
|         14|            5000.0|
|         69| 4918.683513603144|
|         73|  4496.47342995169|
|         78| 4199.299450549451|
|         95|  3955.94653573377|
|         83|  3936.78246441829|
|         34|3857.1428571428573|
|         29|3560.9756097560976|
|         91|3465.7258064516127|
|         59|3379.4329896907216|
|         44| 3212.128924996572|
|         11|           3156.25|
|         33|3148.2084555229717|
|         56| 2769.230769230769|
|         76|2562.7594627594626|
|         79|2547.3684210526317|
+-----------+------------------+
only showing top 20 rows

In [36]:
# Median price per year (using approx_percentile for performance)
median_year = immo_csv_df_transformed.groupBy("year").agg(
    expr("percentile_approx(prix, 0.5)").alias("median_prix")
)
median_year.orderBy(col("year").desc()).show()

+----+-----------+
|year|median_prix|
+----+-----------+
|2024|   218640.0|
|2023|   210000.0|
|2022|   152000.0|
|2021|   135000.0|
|2020|   225000.0|
|2019|   166000.0|
|2018|   216000.0|
|2017|   160000.0|
|2016|   137000.0|
|2015|   170000.0|
|2014|   130000.0|
+----+-----------+

In [37]:
# Transactions per city
tx_per_city = immo_csv_df_transformed.groupBy("ville").agg(count("*").alias("n_transactions"))
tx_per_city.orderBy(col("n_transactions").desc()).show(5)

+------------------+--------------+
|             ville|n_transactions|
+------------------+--------------+
|            RENNES|             2|
|     SAINT RAPHAEL|             2|
|            TOULON|             2|
|          TOULOUSE|             2|
|LA BAULE-ESCOUBLAC|             1|
+------------------+--------------+
only showing top 5 rows

### 3.7 Write data as csv, parquet

We have calculated the statistics, now let's write the result in a file

In [38]:
out_data_path = data_dir / "tmp"

In [39]:
avg_price_dep_parquet_path = out_data_path / "avg_price_dep_parquet"
avg_dep.write.mode("overwrite").parquet(avg_price_dep_parquet_path.as_posix())

In [40]:
avg_price_dep_csv_path = out_data_path / "avg_price_dep_csv"
avg_dep.write.mode("overwrite").option("header","true").csv(avg_price_dep_csv_path.as_posix())

## 4. Close spark session

If you don't close the spark session, the reserved resources can be released. So your teammates can't use them.

In [4]:
spark.stop()